<div class="comments">
  {{#each this}}
    <div class="card">
      <h3 class="card-header"></h3>
      <section class="comment card-body">
        <div class="text">
          {{comment_text}}
        </div>
        <div class="meta row col-12 justify-content-end">
          <strong>{{user.username}}</strong> &nbsp; | 
          &nbsp; {{format_date created_at}}
        </div>
      </section>
    </div>
  {{/each}}
</div>